@charset "UTF-8";
/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 * Modified by Mikk Pristavka in August 2016
 */
.pika-single {
  *zoom: 1;
  background: #fff;
  border-bottom-color: #bbb;
  color: #3c3c3c;
  display: block;
  font-family: "Avenir Next", "AvenirX", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  z-index: 56000;
}

.pika-single.is-hidden {
  display: none;
}

.pika-single.is-bound {
  position: absolute;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.pika-single:before, .pika-single:after {
  display: table;
  content: ' ';
}

.pika-single:after {
  clear: both;
}

.pika-lendar {
  float: left;
  width: 240px;
  margin: 8px;
}

.pika-title {
  position: relative;
  text-align: center;
}

.pika-title select {
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 9998;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.pika-label {
  *display: inline;
  display: inline-block;
  position: relative;
  z-index: 56000;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: #3c3c3c;
  background-color: #fff;
  vertical-align: middle;
}

.pika-label + .pika-label {
  margin-right: .25em;
}

.pika-prev,
.pika-next,
.pika-up,
.pika-down {
  position: relative;
  display: block;
  width: 20px;
  height: 30px;
  padding: 0;
  overflow: hidden;
  color: #3c3c3c;
  text-indent: 20px;
  white-space: nowrap;
  cursor: pointer;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  border: 0;
  outline: none;
  opacity: .5;
  *position: absolute;
  *top: 0;
}

.pika-prev:hover,
.pika-next:hover,
.pika-up:hover,
.pika-down:hover {
  opacity: 1;
}

.pika-prev.is-disabled,
.pika-next.is-disabled,
.pika-up.is-disabled,
.pika-down.is-disabled {
  cursor: default;
  opacity: .2;
}

.pika-prev::before,
.pika-next::before,
.pika-up::before,
.pika-down::before,
.is-rtl .pika-prev::before,
.is-rtl .pika-prev::before {
  position: absolute;
  top: calc(50% - 5px);
  right: 5px;
  display: block;
  width: 0;
  height: 0;
  -o-border-image: none;
     border-image: none;
  border-style: solid;
  border-width: 5px;
  content: '';
}

.pika-prev,
.is-rtl .pika-next {
  *left: 0;
  float: left;
}

.pika-prev::before,
.is-rtl .pika-next::before {
  border-color: transparent currentColor transparent transparent;
}

.pika-next,
.is-rtl .pika-prev {
  *right: 0;
  float: right;
}

.pika-next::before,
.is-rtl .pika-prev::before {
  border-color: transparent transparent transparent currentColor;
}

.pika-up {
  *left: 0;
  float: left;
}

.pika-up::before {
  border-color: transparent transparent currentColor;
}

.pika-down {
  *right: 0;
  float: right;
}

.pika-down::before {
  border-color: currentColor transparent transparent;
}

.pika-up,
.pika-down {
  height: 30px;
}

.pika-select {
  *display: inline;
  display: inline-block;
}

.pika-table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.pika-table th,
.pika-table td {
  width: 14.285714285714286%;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.pika-table th {
  font-size: 12px;
  font-weight: 600;
  line-height: 25px;
  color: #3c3c3c;
  text-align: center;
}

.pika-table abbr {
  border-bottom: 0;
}

.pika-button {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #3c3c3c;
  text-align: center;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

.is-today .pika-button {
  font-weight: 600;
  background: transparent;
}

.is-today .pika-button:hover {
  font-weight: 600;
}

.is-selected .pika-button {
  font-weight: 600;
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.is-disabled .pika-button,
.is-outside-current-month .pika-button {
  color: #999;
  pointer-events: none;
  cursor: default;
  opacity: .3;
}

.pika-button:hover {
  font-weight: 400;
  color: #3c3c3c;
  background: #ccedf4;
  border-radius: 3px;
  box-shadow: none;
}

.pika-week {
  font-size: 11px;
  color: #999;
}

.is-inrange .pika-button {
  background: #d5e9f7;
}

.is-startrange .pika-button {
  color: #fff;
  background: #6CB31D;
  border-radius: 3px;
  box-shadow: none;
}

.is-endrange .pika-button {
  color: #fff;
  background: #3af;
  border-radius: 3px;
  box-shadow: none;
}

.pika-time-container {
  height: 75px;
  clear: both;
  background: rgba(0, 0, 0, 0.035);
}

.pika-select-container {
  position: relative;
  height: 75px;
  min-width: 2em;
}

.pika-select-container.has-overlay .pika-select {
  position: absolute;
  top: 15px;
  right: 0;
  bottom: 15px;
  left: 0;
  padding: 10px 0;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.pika-select-container .pika-select {
  z-index: 1;
  min-width: 3em;
  padding: .5em .25em;
  margin: 0;
}

.pika-select-container .pika-select:active, .pika-select-container .pika-select:focus {
  outline: 0;
}

.pika-select-container .pika-select-overlay {
  position: absolute;
  top: 15px;
  right: 0;
  bottom: 15px;
  left: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  color: #3c3c3c;
  text-align: center;
  vertical-align: center;
}

.pika-select-container .separator {
  padding: 0 .5em;
  font-size: 18px;
  font-weight: 400;
}

.pika-select-container > .pika-up,
.pika-select-container > .pika-down {
  position: absolute;
  left: 50%;
  z-index: 2;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pika-select-container > .pika-up {
  top: 0;
}

.pika-select-container > .pika-down {
  bottom: 0;
}

.pika-time {
  margin: 0 auto;
  line-height: 75px;
}

.pika-time .pika-time-label {
  padding-right: .33em;
  font-size: 18px;
  font-weight: 600;
  color: #3c3c3c;
}
