/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 * Modified by Mikk Pristavka in August 2016
 */

// Variables
// Declare any of these variables before importing this SCSS file to easily override defaults
// Variables are namespaced with the pd (pikaday) prefix

// Colours
$pd-text-color: rgb(60, 60, 60) !default;
$pd-title-color: #333 !default;
$pd-title-bg: #fff !default;
$pd-picker-bg: #fff !default;
$pd-picker-border: #ccc !default;
$pd-picker-border-bottom: #bbb !default;
$pd-picker-shadow: rgba(0, 0, 0, .5) !default;
$pd-th-color: #999 !default;
$pd-day-today-color: rgb(140, 140, 140) !default;
$pd-day-bg: transparent !default;
$pd-day-hover-color: #fff !default;
$pd-day-color: rgb(204, 237, 244) !default;
$pd-day-hover-bg: #ff8000 !default;
$pd-day-selected-color: #fff !default;
$pd-day-selected-bg: rgba(0, 0, 0, .25) !default;
$pd-time-picker-bg: rgba(0, 0, 0, .035) !default;
$pd-time-picker-height: 75px;
$pd-time-padding: 15px;
$pd-day-disabled-color: #999 !default;
$pd-week-color: #999 !default;

$bold: 600;
$avenir: 'Avenir Next', 'AvenirX', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$zindex: 56000;
// Font
$pd-font-family: $avenir;


.pika-single {
  *zoom: 1;
  background: $pd-picker-bg;
  border-bottom-color: $pd-picker-border-bottom;
  color: $pd-text-color;
  display: block;
  font-family: $pd-font-family;
  position: relative;
  z-index: $zindex;

  &.is-hidden {
    display: none;
  }

  &.is-bound {
    position: absolute;
    box-shadow: 0 1px 5px 0 $pd-picker-shadow;
  }

  // clear child float (pika-lendar), using the famous micro clearfix hack
  // http://nicolasgallagher.com/micro-clearfix-hack/
  &:before,
  &:after {
    display: table;
    content: ' ';
  }

  &:after { clear: both }
}

.pika-lendar {
  float: left;
  width: 240px;
  margin: 8px;
}

.pika-title {
  position: relative;
  text-align: center;

  select {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 9998;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity = 0);
  }
}

.pika-label {
  *display: inline;
  display: inline-block;
  position: relative;
  z-index: $zindex;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 18px;
  line-height: 20px;
  font-weight: $bold;
  color: $pd-text-color;
  background-color: $pd-title-bg;
  vertical-align: middle;

  & + & {
    margin-right: .25em;
  }
}

.pika-prev,
.pika-next,
.pika-up,
.pika-down {
  position: relative;
  display: block;
  width: 20px;
  height: 30px;
  padding: 0;
  overflow: hidden;
  color: $pd-text-color;
  text-indent: 20px; // hide text using text-indent trick, using width value (it's enough)
  white-space: nowrap;
  cursor: pointer;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  border: 0;
  outline: none;
  opacity: .5;
  *position: absolute;
  *top: 0;

  &:hover {
    opacity: 1;
  }

  &.is-disabled {
    cursor: default;
    opacity: .2;
  }
}

.pika-prev,
.pika-next,
.pika-up,
.pika-down,
.is-rtl .pika-prev,
.is-rtl .pika-prev {
  &::before {
    position: absolute;
    top: calc(50% - 5px);
    right: 5px;
    display: block;
    width: 0;
    height: 0;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    content: '';
  }
}

.pika-prev,
.is-rtl .pika-next {
  *left: 0;
  float: left;

  &::before {
    border-color: transparent currentColor transparent transparent;
  }
}

.pika-next,
.is-rtl .pika-prev {
  *right: 0;
  float: right;

  &::before {
    border-color: transparent transparent transparent currentColor;
  }
}

.pika-up {
  *left: 0;
  float: left;

  &::before {
    border-color: transparent transparent currentColor;
  }
}

.pika-down {
  *right: 0;
  float: right;

  &::before {
    border-color: currentColor transparent transparent;
  }
}

.pika-up,
.pika-down {
  height: 30px;
}

.pika-select {
  *display: inline;
  display: inline-block;
}

.pika-table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;

  th,
  td {
    width: 14.285714285714286%;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }

  th {
    font-size: 12px;
    font-weight: $bold;
    line-height: 25px;
    color: $pd-text-color;
    text-align: center;
  }

  abbr {
    border-bottom: 0;
  }
}

.pika-button {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: $pd-text-color;
  text-align: center;
  cursor: pointer;
  background: $pd-day-bg;
  border: 0;
  outline: none;
  box-sizing: border-box;

  .is-today & {
    font-weight: $bold;
    background: $pd-day-bg;

    &:hover {
      font-weight: $bold;
    }
  }

  .is-selected & {
    font-weight: 600;
    color: $pd-day-selected-color;
    background: $pd-day-selected-bg;
    border-radius: 3px;
  }

  .is-disabled &,
  .is-outside-current-month & {
    color: $pd-day-disabled-color;
    pointer-events: none;
    cursor: default;
    opacity: .3;
  }

  &:hover {
    font-weight: 400;
    color: $pd-text-color;
    background: $pd-day-color;
    border-radius: 3px;
    box-shadow: none;
  }
}

.pika-week {
  font-size: 11px;
  color: $pd-week-color;
}

.is-inrange .pika-button {
  background: #d5e9f7;
}

.is-startrange .pika-button {
  color: #fff;
  background: #6CB31D;
  border-radius: 3px;
  box-shadow: none;
}

.is-endrange .pika-button {
  color: #fff;
  background: #3af;
  border-radius: 3px;
  box-shadow: none;
}

.pika-time-container {
  height: $pd-time-picker-height;
  clear: both;
  background: $pd-time-picker-bg;
}

.pika-select-container {
  position: relative;
  height: $pd-time-picker-height;
  min-width: 2em;

  &.has-overlay {
    .pika-select {
      position: absolute;
      top: $pd-time-padding;
      right: 0;
      bottom: $pd-time-padding;
      left: 0;
      padding: 10px 0;
      opacity: 0;
      appearance: none;
    }
  }

  .pika-select {
    z-index: 1;
    min-width: 3em;
    padding: .5em .25em;
    margin: 0;

    &:active,
    &:focus {
      outline: 0;
    }
  }

  .pika-select-overlay {
    position: absolute;
    top: $pd-time-padding;
    right: 0;
    bottom: $pd-time-padding;
    left: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: $pd-time-picker-height - 30px;
    color: $pd-text-color;
    text-align: center;
    vertical-align: center;
  }

  .separator {
    padding: 0 .5em;
    font-size: 18px;
    font-weight: 400;
  }


  > .pika-up,
  > .pika-down {
    position: absolute;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
  }

  > .pika-up {
    top: 0;
  }

  > .pika-down {
    bottom: 0;
  }
}

.pika-time {
  margin: 0 auto;
  line-height: $pd-time-picker-height;

  .pika-time-label {
    padding-right: .33em;
    font-size: 18px;
    font-weight: $bold;
    color: $pd-text-color;
  }
}
