/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 * Modified by Mikk Pristavka in August 2016
 */

// Variables
// Declare any of these variables before importing this SCSS file to easily override defaults
// Variables are namespaced with the pd (pikaday) prefix

// Colours
$pd-text-color: rgb(60, 60, 60) !default;
$pd-title-color: #333 !default;
$pd-title-bg: #fff !default;
$pd-picker-bg: #fff !default;
$pd-picker-border: #ccc !default;
$pd-picker-border-bottom: #bbb !default;
$pd-picker-shadow: rgba(0, 0, 0, .5) !default;
$pd-th-color: #999 !default;
$pd-day-color: rgb(140, 140, 140) !default;
$pd-day-bg: transparent !default;
$pd-day-hover-color: #fff !default;
$pd-day-hover-bg: #ff8000 !default;
$pd-day-today-color: rgb(204, 237, 244) !default;
$pd-day-selected-color: #fff !default;
$pd-day-disabled-color: #999 !default;
$pd-week-color: #999 !default;

$bold: 600;
$avenir: 'Avenir Next', 'AvenirX', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$zindex: 56000;
// Font
$pd-font-family: $avenir;


.pika-single {
  *zoom: 1;
  background: $pd-picker-bg;
  border: 1px solid transparent;
  border-bottom-color: $pd-picker-border-bottom;
  color: $pd-text-color;
  display: block;
  font-family: $pd-font-family;
  position: relative;
  z-index: $zindex;

  &.is-hidden {
    display: none;
  }

  &.is-bound {
    box-shadow: 0 1px 5px 0 $pd-picker-shadow;
    position: absolute;
  }

  // clear child float (pika-lendar), using the famous micro clearfix hack
  // http://nicolasgallagher.com/micro-clearfix-hack/
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after { clear: both }
}

.pika-lendar {
  float: left;
  margin: 8px;
  width: 240px;
}

.pika-title {
  position: relative;
  text-align: center;

  select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity = 0);
    opacity: 0;
  }
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: $zindex;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 18px;
    line-height: 20px;
    font-weight: $bold;
    color: $pd-text-color;
    background-color: $pd-title-bg;
    vertical-align: middle;

    & + & {
      margin-right: .25em;
    }
}

.pika-prev,
.pika-next,
.pika-up,
.pika-down {
    color: $pd-text-color;
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    text-indent: 20px; // hide text using text-indent trick, using width value (it's enough)
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;

    &:hover {
        opacity: 1;
    }

    &.is-disabled {
        cursor: default;
        opacity: .2;
    }
}

.pika-prev,
.pika-next,
.pika-up,
.pika-down,
.is-rtl .pika-prev,
.is-rtl .pika-prev {
  &::before {
    border-image: none;
    position: absolute;
    top: calc(50% - 5px);
    right: 5px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px;
    content: '';
  }
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    *left: 0;

    &::before {
      border-color: transparent currentColor transparent transparent;
    }
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    *right: 0;

    &::before {
      border-color: transparent transparent transparent currentColor;
    }
}

.pika-up {
    float: left;
    *left: 0;

    &::before {
      border-color: transparent transparent currentColor transparent;
    }
}

.pika-down {
    float: right;
    *right: 0;

    &::before {
      border-color: currentColor transparent transparent transparent;
    }
}

.pika-up,
.pika-down {
  height: 20px;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-select-container {
  position: relative;

  &.has-overlay {
    min-width: 2em;
    height: 30px;

    .pika-select {
      position: absolute;
      top: 11px;
      left: 0;
      right: 0;
      bottom: 10px;
      opacity: 0;

      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
  }

  .pika-select {
    margin: 0;
    padding: .5em .25em;
    min-width: 3em;

    &:active,
    &:focus {
      outline: 0;
    }
  }

  .pika-select-overlay {
    position: absolute;
    top: 11px;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
    vertical-align: center;
    line-height: 33px;
    font-size: 18px;
    font-weight: 500;
    color: $pd-text-color;
  }

  .separator {
    padding: 0 .5em;
  }


  > .pika-up,
  > .pika-down {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    position: absolute;
    left: 50%;
  }

  > .pika-up {
    top: -6px;
  }

  > .pika-down {
    bottom: -8px;
  }

  &.with-increment-buttons {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;

    th,
    td {
        width: 14.285714285714286%;
        padding: 0;
        text-align: center;
    }

    th {
        color: $pd-text-color;
        font-size: 12px;
        line-height: 25px;
        font-weight: $bold;
        text-align: center;
    }

    abbr {
        border-bottom: none;
        cursor: help;
    }
}

.pika-button {
    cursor: pointer;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: $pd-day-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    background: $pd-day-bg;

    .is-today & {
        color: $pd-text-color;
        background: $pd-day-bg;
        font-weight: $bold;
    }

    .is-selected & {
        color: $pd-day-color;
        font-weight: 400;
        background: $pd-day-today-color;
        border-radius: 3px;
    }

    .is-disabled &,
    .is-outside-current-month & {
        pointer-events: none;
        cursor: default;
        color: $pd-day-disabled-color;
        opacity: .3;
    }

    &:hover {
        color: $pd-day-hover-color;
        background: rgba(0,0,0,.25);
        box-shadow: none;
        border-radius: 3px;
        font-weight: 600;
    }
}

.pika-week {
    font-size: 11px;
    color: $pd-week-color;
}

.is-inrange .pika-button {
    background: #D5E9F7;
}

.is-startrange .pika-button {
    color: #fff;
    background: #6CB31D;
    box-shadow: none;
    border-radius: 3px;
}

.is-endrange .pika-button {
    color: #fff;
    background: #33aaff;
    box-shadow: none;
    border-radius: 3px;
}

.pika-time-container {
    clear: both;
}

.pika-time {
  margin: 7px auto 7px;

  .pika-time-label {
    font-weight: $bold;
    font-size: 11px;
    color: #666;
    padding-right: 0.33em;
  }
}
